<body>
    <div class="login-page">
        <div class="form">
            <div class="login">
            <div class="login-header">
                <h3>Reset Password</h3>
            </div>
            </div>
            <form class="login-form" [formGroup]="changePasswordForm">
            <p class="clickable-text" (click)="generateRandomPassword()">Generate Password For Me?</p>
            <p class="message" style="color: black;"> {{randomPassword}}</p>
            <input type="text" placeholder="username" formControlName="username"/>
            <input type="password" placeholder="new password" formControlName="newPassword"/>
            <input type="password" placeholder="confirm new password" formControlName="confirmNewPassword"/>
            <button (click)="onSubmit()">Reset Password</button>
            <p class="message">Login <a routerLink="/user/login">Click Me</a></p>
            </form>
        </div>
    </div>
</body>
